* {
  margin: 0;
  padding: 0;
}
body {
  background: #eef8ff;
}
footer a {
  color: #fff;
}
.container {
  max-width: 93%;
}
footer {
  position: absolute;
  width: 100%;
  height: auto;
  color: #fff;
  bottom: 0;
  background: linear-gradient(to right, #00093c, #2d0b00);
  padding: 100px 0 30px;
  border-top-left-radius: 125px;
  font-size: 13px;
  line-height: 20px;
}
.logo h3 {
  margin-bottom: 30px;
}
p {
  margin-bottom: 2px;
}
.office h4 {
  position: relative;
  width: fit-content;
  text-transform: capitalize;
  margin-bottom: 40px;
}
.links ul {
  margin: 0;
  padding: 0;
}
.links ul li {
  margin-bottom: 12px;
}
.links ul li a {
  color: #fff;
  text-decoration: none;
}
.newsletter form {
  padding-bottom: 15px;
  align-items: center;
  justify-content: space-between;
  display: flex;
  border-bottom: 1px solid #ccc;
  margin-bottom: 50px;
}
.newsletter i {
  font-size: 26px;
  margin-right: 10px;
}
.newsletter .submit i {
  font-size: 18px;
  margin-right: 0;
}
.newsletter .submit {
  background: transparent;
  color: #fff;
  transition: 0.3s ease-in-out;
}
.newsletter form input {
  text-transform: capitalize;
  width: 100%;
  background: transparent;
  color: #fff;
  outline: none;
  border: none;
}
.social-icons i {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 20px;
  text-align: center;
  border: 1px solid #fff;
  line-height: 40px;
  margin-right: 15px;
  background: #fff;
  color: #000;
  transition: all 0.3s ease-in-out;
  margin-bottom: 10px;
}
.social-icons i:hover {
  background: transparent;
  color: #fff;
}
hr {
  margin-left: 75px;
  width: 90%;
}
.underline {
  height: 5px;
  background: #757575;
  border-radius: 32px;
  width: 25%;
  margin-top: 20px;
  position: relative;
  overflow: hidden;
}
.underline span {
  position: absolute;
  top: 0;
  left: 10px;
  width: 15px;
  background: #fff;
  height: 100%;
  border-radius: 32px;
  animation: moving 1.2s linear infinite;
}
@keyframes moving {
  0% {
    left: -20px;
  }
  100% {
    left: 100%;
  }
}
/* Resoppistive css */
@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 980px) {
}
@media screen and (max-width: 768px) {
  footer {
    bottom: unset;
  }
  hr {
    margin-left: 0;
    width: 100%;
  }
}
@media screen and (max-width: 640px) {
}

@media screen and (max-width: 480px) {
  footer {
    bottom: unset;
  }
  hr {
    margin-left: 0;
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
}
