* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
a:focus {
  outline: 0px solid;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 15px;
  font-weight: 700;
}
img {
  max-width: 100%;
  height: auto;
}
html,
body {
  height: 100%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  box-shadow: 0 0 0px 100px white inset !important;
}

/* Resoppistive css */
@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 980px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 640px) {
}

@media screen and (max-width: 480px) {
}

@media screen and (max-width: 320px) {
}
