:root {
  --clr: #222327;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--clr) !important;
}
.navgation {
  width: 400px;
  height: 70px;
  background: #fff;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.navgation ul {
  margin: 0;
  padding: 0;
  display: flex;
  width: 350px;
}
.navgation ul li {
  position: relative;
  list-style: none;
  width: 70px;
}

.navgation ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 500;
}
.icon {
  position: relative;
  display: block;
  line-height: 75px;
  font-size: 1.5em;
  text-align: center;
  transition: 0.5s;
  color: var(--clr);
  z-index: 99;
}
li.active a .icon {
  transform: translateY(-50px);
}
.text {
  position: absolute;
  color: var(--clr);
  font-weight: 400;
  font-size: 17px;
  letter-spacing: 0.05em;
  transition: 0.5s;
  opacity: 0;
  text-transform: capitalize;
  transform: translateY(20px);
}
li.active a .text {
  opacity: 1;
  transform: translateY(10px);
}
.indicator {
  position: absolute;
  top: -50px;
  width: 70px;
  height: 70px;
  background: #ffafaf;
  border-radius: 50%;
  border: 6px solid var(--clr);
  transition: 0.5s;
}
.indicator::before {
  position: absolute;
  top: 77%;
  content: "";
  left: -12px;
  width: 20px;
  height: 20px;
  background: transparent;
  border-top-right-radius: 20px;
  box-shadow: 0 -10px 0 0 var(--clr);
}

.indicator::after {
  position: absolute;
  top: 77%;
  content: "";
  right: -12px;
  width: 20px;
  height: 20px;
  background: transparent;
  border-top-left-radius: 20px;
  box-shadow: 0 -10px 0 0 var(--clr);
}
li:nth-child(1).active ~ .indicator {
  transform: translateX(calc(70px * 0));
}
li:nth-child(2).active ~ .indicator {
  transform: translateX(calc(70px * 1));
}

li:nth-child(3).active ~ .indicator {
  transform: translateX(calc(70px * 2));
}
li:nth-child(4).active ~ .indicator {
  transform: translateX(calc(70px * 3));
}
li:nth-child(5).active ~ .indicator {
  transform: translateX(calc(70px * 4));
}
